@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  /* COLOR PRIMARY*/
  --col-very-dark-blue: hsl(233, 47%, 7%);
  --col-dark-desaturated-blue: hsl(244, 38%, 16%);
  --col-soft-violet: hsl(277, 64%, 61%);

  /* COLOR NEUTRAL */
  --col-white: hsl(0, 0%, 100%);
  --col-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --col-stat-headings: hsla(0, 0%, 100%, 0.6);

  /* FONTS */
  --font-inter: "Inter", sans-serif;
  --font-lexend: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  background: var(--col-very-dark-blue);
  color: white;
}

main {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > * {
  width: 30%;
  height: 50%;
}

.left {
  background-color: var(--col-dark-desaturated-blue);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.left .desc {
  padding: 10%;
  height: 100%;
}

.left h1 {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.left h1 {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.left span {
  color: var(--col-soft-violet);
}

.left p {
  font-size: 1.1rem;
  font-family: var(--font-lexend);
  color: var(--col-main-paragraph);
  line-height: 1.6;
}

.stats {
  display: flex;
  column-gap: 6rem;
  align-items: end;
  height: 50%;
}

.stats > * {
  flex: 1;
}

.stats h3 {
  font-size: 1.8rem;
  font-family: var(--font-inter);
  margin-bottom: 5px;
}

.stats-3 {
  text-transform: uppercase;
}

.stats p {
  text-transform: uppercase;
  font-size: 1rem;
  display: inline;
}

.right-img {
  background-image: linear-gradient(
      0deg,
      hsla(277, 86%, 27%, 0.69) 50%,
      hsl(277, 86%, 27%, 0.69) 100%
    ),
    url(images/image-header-desktop.jpg);
  background-size: cover;
  max-width: 100%;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

@media (max-width: 375px) {
  main {
    margin: 8rem auto;
    flex-direction: column-reverse;
  }

  main > * {
    width: 80%;
    height: 0;
  }

  .left {
    height: 80%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .left > * {
    text-align: center;
  }

  .stats {
    justify-content: space-between;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    height: 45%;
  }

  .right-img {
    background-image: linear-gradient(
        0deg,
        hsla(277, 86%, 27%, 0.69) 50%,
        hsl(277, 86%, 27%, 0.69) 100%
      ),
      url(images/image-header-mobile.jpg);
    background-size: cover;
    max-width: 100%;
    height: 30%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
}
